/**
* @name SpaceTheme
* @author @spaceenergy
* @version v1.4.0-alpha
* @description SpaceTheme for Discord
* @invite 7Zv8Xz3Vzn
* @donate https://ko-fi.com/spacetheme
* @authorLink https://github.com/SpaceEnergy
* @source https://github.com/SpaceTheme/Discord
* @website https://spacetheme.de
**/

@import url("https://spaceenergy.github.io/SpaceTheme/Discord/core/main.css");


:root {
    /* Colors */
    --color-1: #111111;         /* Default: #111111 */
    --color-2: #1e1e1e;         /* Default: #1e1e1e */
    --color-3: #141414;         /* Default: #141414 */
    --color-4: #181818;         /* Default: #181818 */
    --color-5: #26292c;         /* Default: #262629 */
    --color-6: #262629;         /* Default: #262629 */
    --accent: #666CFF;          /* Default: #666CFF */
    --accent-2: #878CFF;        /* Default: #878CFF */
    --background: #0a0a0a;      /* Default: #0a0a0a */

    /* Border Radius */
    --border-radius-large: 8px;   /* Default: 8px */
    --border-radius-medium: 4px;  /* Default: 4px */

    /* Custom Home Icon */
    --home-icon: url("https://discord.com/assets/99e79fc8aff1ebe7fd97fb5fd799a2bd.webp"); /* The URL can be changed to any other image URL. GIF's are also supported. */
}