.questionInput_f24a96 {
    max-height: 220px;
    border: none;
    border-radius: var(--border-radius-large);
}
.questionInput_f24a96::-webkit-scrollbar {
    display: none;
}
.defaultTextInputWrapper_d274ca {
    border: none;
    border-radius: var(--border-radius-large);
}
.addAnswerButton_f24a96 {
    border-radius: var(--border-radius-large);
}
.pollContainer_b558d0 {
    background-color: var(--color-2);
}
.pollContainer_b558d0 .answerInner_cf2c85 {
    border: none !important;
    outline: none !important;
    background-color: var(--color-1);
}
.pollContainer_b558d0 .answerInner_cf2c85:hover {
    background-color: var(--color-4);
}
.pollContainer_b558d0 .answerInner_cf2c85.selected_cf2c85 {
    background-color: var(--color-3);
}
.votePercentageBar_cf2c85 {
    border-radius: var(--border-radius-large);
    background-color: var(--accent);
    opacity: 0.3;
}