/* Icon Request */
html:has(.modeSelected__2ea32 [data-list-item-id="channels___1126871300661575732"]) .form_f75fb0 .channelTextArea_f75fb0 .scrollableContainer__74017 {
    display: flex;
    flex-direction: column;
}

html:has(.modeSelected__2ea32 [data-list-item-id="channels___1126871300661575732"]) .form_f75fb0 .channelTextArea_f75fb0 .scrollableContainer__74017::before {
    order: -2;
    display: flex;
    padding: 12px 16px 4px;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    white-space: pre-wrap;
    content: "Request Custom Channel Icons:";
    border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
    color: var(--header-primary);
    background: var(--color-2);
}
html:has(.modeSelected__2ea32 [data-list-item-id="channels___1126871300661575732"]) .form_f75fb0 .channelTextArea_f75fb0 .scrollableContainer__74017::after {
    order: -1;
    display: flex;
    padding: 0 16px 8px;
    font-size: 14px;
    line-height: 18px;
    white-space: pre-wrap;
    content: "• At first you have to become a Supporter+ to request. (https://ko-fi.com/spacetheme/tiers) \a • Send the Name of you server \a • And send the number of channels on the server (25 channels max) \a • When I have responded with\1F7E1 you can send me your server invite via DM. \a • Please wait at least 24 hours for requests to be fulfilled. Requests will not always be taken in instantly.";
    border-radius: 0;
    color: var(--header-secondary);
    background: var(--color-2);
}

html:has(.modeSelected__2ea32 [data-list-item-id="channels___1126871300661575732"]) .form_f75fb0 .inner__74017 {
    border-radius: 0 0 var(--border-radius-large) var(--border-radius-large);
}


/*
!
! PGS
!
*/
.containerDefault_c69b6d a[data-list-item-id="channels___928787683671687269"],
.containerDefault_c69b6d a[data-list-item-id="channels___942140331892285581"],
.containerDefault_c69b6d a[data-list-item-id="channels___814985548028182609"],
.containerDefault_c69b6d a[data-list-item-id="channels___759498922116251658"],
.containerDefault_c69b6d a[data-list-item-id="channels___928781005807030303"],
.containerDefault_c69b6d a[data-list-item-id="channels___759498956815859782"],
.containerDefault_c69b6d a[data-list-item-id="channels___759490590257446986"],
.containerDefault_c69b6d a[data-list-item-id="channels___1163568103955894332"],
.containerDefault_c69b6d a[data-list-item-id="channels___760115341375438858"],
.containerDefault_c69b6d a[data-list-item-id="channels___759492413470539776"],
.containerDefault_c69b6d a[data-list-item-id="channels___928782640696401950"],
.containerDefault_c69b6d a[data-list-item-id="channels___1109877268592988252"],
.containerDefault_c69b6d a[data-list-item-id="channels___772493538234597387"],
.containerDefault_c69b6d a[data-list-item-id="channels___929438701271015464"],
.containerDefault_c69b6d a[data-list-item-id="channels___759490330809860126"],
.containerDefault_c69b6d a[data-list-item-id="channels___1249428422380359731"],
.containerDefault_c69b6d a[data-list-item-id="channels___759490360086626392"],
.containerDefault_c69b6d a[data-list-item-id="channels___759489650015338567"],
.containerDefault_c69b6d a[data-list-item-id="channels___940816236101652520"],
.containerDefault_c69b6d a[data-list-item-id="channels___759490786248228875"],
.containerDefault_c69b6d a[data-list-item-id="channels___760115433617227787"],
.containerDefault_c69b6d a[data-list-item-id="channels___759491102218125322"],
.containerDefault_c69b6d a[data-list-item-id="channels___1040723150150840332"],
.containerDefault_c69b6d a[data-list-item-id="channels___759490868423688222"],
.containerDefault_c69b6d a[data-list-item-id="channels___759491017199583243"],
.containerDefault_c69b6d a[data-list-item-id="channels___759491043317252166"] {
    padding: 9px 6px;
}

.containerDefault_c69b6d a[data-list-item-id="channels___928787683671687269"]::before {      /* moderator-chat */
    content: "👮‍♂️";
    background-color: #00aff040;
}
.containerDefault_c69b6d a[data-list-item-id="channels___942140331892285581"]::before {      /* mod-spam */
    content: "📨";
    background-color: #00a6ed40;
}
.containerDefault_c69b6d a[data-list-item-id="channels___814985548028182609"]::before {      /* rules */
    content: "📜";
    background-color: #ffdea740;
}
.containerDefault_c69b6d a[data-list-item-id="channels___759498922116251658"]::before {      /* announcements */
    content: "📣";
    background-color: #f9c23c40;
}
.containerDefault_c69b6d a[data-list-item-id="channels___928781005807030303"]::before {      /* introductions */
    content: "🦺";
    background-color: #ff672340;
}
.containerDefault_c69b6d a[data-list-item-id="channels___759498956815859782"]::before {      /* cool-links */
    content: "🔗";
    background-color: #bebebe40;
}
.containerDefault_c69b6d a[data-list-item-id="channels___759490590257446986"]::before {      /* mod-logs */
    content: "📁";
    background-color: #fcd53f40;
}
.containerDefault_c69b6d a[data-list-item-id="channels___1163568103955894332"]::before {     /* fediverse-posts */
    content: "📮";
    background-color: #f92f6040;
}
.containerDefault_c69b6d a[data-list-item-id="channels___760115341375438858"]::before {      /* vip-chatter */
    content: "💎";
    background-color: #1c5cd740;
}
.containerDefault_c69b6d a[data-list-item-id="channels___759492413470539776"]::before {      /* offtopic */
    content: "👮‍♂️";
    background-color: #00aff040;
}
.containerDefault_c69b6d a[data-list-item-id="channels___928782640696401950"]::before {      /* games */
    content: "🎮";
    background-color: #53356640;
}
.containerDefault_c69b6d a[data-list-item-id="channels___1109877268592988252"]::before {     /* free-games */
    content: "🎁";
    background-color: #ca0b4a40;
}
.containerDefault_c69b6d a[data-list-item-id="channels___772493538234597387"]::before {      /* bot-spam */
    content: "🏆️";
    background-color: #cdc4d640;
}
.containerDefault_c69b6d a[data-list-item-id="channels___929438701271015464"]::before {      /* photography */
    content: "📸";
    background-color: #63599440;
}
.containerDefault_c69b6d a[data-list-item-id="channels___759490330809860126"]::before {      /* collections */
    content: "🧺";
    background-color: #f3ad6140;
}
.containerDefault_c69b6d a[data-list-item-id="channels___1249428422380359731"]::before {      /* stalker news */
    content: "☢️";
    background-color: #ffb02e40;
}
.containerDefault_c69b6d a[data-list-item-id="channels___759490360086626392"]::before {      /* anime-manga */
    content: "🗻";
    background-color: #6b438b40;
}
.containerDefault_c69b6d a[data-list-item-id="channels___759489650015338567"]::before {      /* content-feed */
    content: "📰";
    background-color: #998ea440;
}
.containerDefault_c69b6d a[data-list-item-id="channels___940816236101652520"]::before {      /* streams */
    content: "🔴";
    background-color: #f8312f40;
}
.containerDefault_c69b6d a[data-list-item-id="channels___759490786248228875"]::before {      /* voice-chat */
    content: "🗯️";
    background-color: #ffffff40;
}
.containerDefault_c69b6d a[data-list-item-id="channels___760115433617227787"]::before {      /* VIP VC */
    content: "💎";
    background-color: #1c5cd740;
}
.containerDefault_c69b6d a[data-list-item-id="channels___759491102218125322"]::before {      /* General VC */
    content: "🎙️";
    background-color: #b4acbc40;
}
.containerDefault_c69b6d a[data-list-item-id="channels___1040723150150840332"]::before {     /* Private */
    content: "🔐";
    background-color: #f9c23c40;
}
.containerDefault_c69b6d a[data-list-item-id="channels___759490868423688222"]::before {      /* Gaming Den */
    content: "🕹️";
    background-color: #f8312f40;
}
.containerDefault_c69b6d a[data-list-item-id="channels___759491017199583243"]::before {      /* Music Lounge */
    content: "📻";
    background-color: #83cbff40;
}
.containerDefault_c69b6d a[data-list-item-id="channels___759491043317252166"]::before {      /* AFK */
    content: "💀";
    background-color: #ffffff40;
}

.containerDefault_c69b6d a[data-list-item-id^="channels___"]::before {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    width: 26px;
    margin: auto 6px;
    padding: 3px;
    font-size: 16px;
    border-radius: var(--border-radius-large);
}

.containerDefault_c69b6d :is(a[data-list-item-id="channels___928787683671687269"],
                             a[data-list-item-id="channels___942140331892285581"],
                             a[data-list-item-id="channels___814985548028182609"],
                             a[data-list-item-id="channels___759498922116251658"],
                             a[data-list-item-id="channels___928781005807030303"],
                             a[data-list-item-id="channels___759498956815859782"],
                             a[data-list-item-id="channels___759490590257446986"],
                             a[data-list-item-id="channels___1163568103955894332"],
                             a[data-list-item-id="channels___760115341375438858"],
                             a[data-list-item-id="channels___759492413470539776"],
                             a[data-list-item-id="channels___928782640696401950"],
                             a[data-list-item-id="channels___1109877268592988252"],
                             a[data-list-item-id="channels___772493538234597387"],
                             a[data-list-item-id="channels___929438701271015464"],
                             a[data-list-item-id="channels___759490330809860126"],
                             a[data-list-item-id="channels___1249428422380359731"],
                             a[data-list-item-id="channels___759490360086626392"],
                             a[data-list-item-id="channels___759489650015338567"],
                             a[data-list-item-id="channels___940816236101652520"],
                             a[data-list-item-id="channels___759490786248228875"],
                             a[data-list-item-id="channels___760115433617227787"],
                             a[data-list-item-id="channels___759491102218125322"],
                             a[data-list-item-id="channels___1040723150150840332"],
                             a[data-list-item-id="channels___759490868423688222"],
                             a[data-list-item-id="channels___759491017199583243"],
                             a[data-list-item-id="channels___759491043317252166"] ) :is(.iconContainer__2ea32, .linkBottom__2ea32) {
    margin-left: 37px;
}



/*
!
! SpaceTheme
!
*/
.containerDefault_c69b6d a[data-list-item-id="channels___1104518841092034631"],
.containerDefault_c69b6d a[data-list-item-id="channels___1104875221472792668"],
.containerDefault_c69b6d a[data-list-item-id="channels___1261359628747280384"],
.containerDefault_c69b6d a[data-list-item-id="channels___1215613548827508776"],
.containerDefault_c69b6d a[data-list-item-id="channels___1104561510715494463"],
.containerDefault_c69b6d a[data-list-item-id="channels___1209815012403716166"],
.containerDefault_c69b6d a[data-list-item-id="channels___1209815101134082120"],
.containerDefault_c69b6d a[data-list-item-id="channels___1104524821909479484"],
.containerDefault_c69b6d a[data-list-item-id="channels___1104518841092034630"],
.containerDefault_c69b6d a[data-list-item-id="channels___1112389436815187979"],
.containerDefault_c69b6d a[data-list-item-id="channels___1224373306795364432"],
.containerDefault_c69b6d a[data-list-item-id="channels___1244349851492421692"],
.containerDefault_c69b6d a[data-list-item-id="channels___1261358630767427655"],
.containerDefault_c69b6d a[data-list-item-id="channels___1104516051733065901"],
.containerDefault_c69b6d a[data-list-item-id="channels___1238649517902139403"],
.containerDefault_c69b6d a[data-list-item-id="channels___1191846540218736650"],
.containerDefault_c69b6d a[data-list-item-id="channels___1192344004520595577"],
.containerDefault_c69b6d a[data-list-item-id="channels___1213565675327590470"],
.containerDefault_c69b6d a[data-list-item-id="channels___1213565711738470470"],
.containerDefault_c69b6d a[data-list-item-id="channels___1213565355897790464"],
.containerDefault_c69b6d a[data-list-item-id="channels___1213565514450870292"],
.containerDefault_c69b6d a[data-list-item-id="channels___1104523856846270546"],
.containerDefault_c69b6d a[data-list-item-id="channels___1104523460052520980"],
.containerDefault_c69b6d a[data-list-item-id="channels___1126864557596479559"],
.containerDefault_c69b6d a[data-list-item-id="channels___1126864502554624042"],
.containerDefault_c69b6d a[data-list-item-id="channels___1190661950800142386"],
.containerDefault_c69b6d a[data-list-item-id="channels___1104552173695680583"],
.containerDefault_c69b6d a[data-list-item-id="channels___1104523836302573688"],
.containerDefault_c69b6d a[data-list-item-id="channels___1104523441157181511"],
.containerDefault_c69b6d a[data-list-item-id="channels___1104552018414161981"],
.containerDefault_c69b6d a[data-list-item-id="channels___1203491488865198110"] {
    padding: 9px 6px;
}

.containerDefault_c69b6d a[data-list-item-id="channels___1104518841092034631"]::before {
    content: "👮‍♂️";
    background-color: #00aff040;
}
.containerDefault_c69b6d a[data-list-item-id="channels___1104875221472792668"]::before {
    content: "⬆️";
    background-color: #00aff040;
}
.containerDefault_c69b6d a[data-list-item-id="channels___1261359628747280384"]::before {
    content: "📁";
    background-color: #ffce2540;
}
.containerDefault_c69b6d a[data-list-item-id="channels___1215613548827508776"]::before {
    content: "📟";
    background-color: #00d26a40;
}
.containerDefault_c69b6d a[data-list-item-id="channels___1104561510715494463"]::before {
    content: "👤";
    background-color: #6b478d40;
}
.containerDefault_c69b6d a[data-list-item-id="channels___1209815012403716166"]::before {
    content: "🗯️";
    background-color: #5865f240;
}
.containerDefault_c69b6d a[data-list-item-id="channels___1209815101134082120"]::before {
    content: "🎮";
    background-color: #01a9ea40;
}
.containerDefault_c69b6d a[data-list-item-id="channels___1104524821909479484"]::before {
    content: "👋";
    background-color: #ffcf2940;
}
.containerDefault_c69b6d a[data-list-item-id="channels___1104518841092034630"]::before {
    content: "📜";
    background-color: #ffdaa340;
}
.containerDefault_c69b6d a[data-list-item-id="channels___1112389436815187979"]::before {
    content: "📣";
    background-color: #ffba2540;
}
.containerDefault_c69b6d a[data-list-item-id="channels___1224373306795364432"]::before {
    content: "🎁";
    background-color: #ca0b4a40;
}
.containerDefault_c69b6d a[data-list-item-id="channels___1244349851492421692"]::before {
    content: "💎";
    background-color: #26eafc40;
}
.containerDefault_c69b6d a[data-list-item-id="channels___1261358630767427655"]::before {
    content: "📫";
    background-color: #5092ff40;
}
.containerDefault_c69b6d a[data-list-item-id="channels___1104516051733065901"]::before {
    content: "💬";
    background-color: #ffffff40;
}
.containerDefault_c69b6d a[data-list-item-id="channels___1238649517902139403"]::before {
    content: "🚀";
    background-color: #f92f6040;
}
.containerDefault_c69b6d a[data-list-item-id="channels___1191846540218736650"]::before {
    content: "🤖";
    background-color: #cdc5d740;
}
.containerDefault_c69b6d a[data-list-item-id="channels___1192344004520595577"]::before {
    content: "🐙";
    background-color: #ff755140;
}
.containerDefault_c69b6d a[data-list-item-id="channels___1213565675327590470"]::before {
    content: "💎";
    background-color: #1c5cd740;
}
.containerDefault_c69b6d a[data-list-item-id="channels___1213565711738470470"]::before {
    content: "💫";
    background-color: #ffb02e40;
}
.containerDefault_c69b6d a[data-list-item-id="channels___1213565355897790464"]::before {
    content: "🗨️";
    background-color: #ffffff40;
}
.containerDefault_c69b6d a[data-list-item-id="channels___1213565514450870292"]::before {
    content: "🆘";
    background-color: #ff005e40;
}
.containerDefault_c69b6d a[data-list-item-id="channels___1104523856846270546"]::before {
    content: "📰";
    background-color: #f3eef840;
}
.containerDefault_c69b6d a[data-list-item-id="channels___1104523460052520980"]::before {
    content: "✨";
    background-color: #ffba2540;
}
.containerDefault_c69b6d a[data-list-item-id="channels___1126864557596479559"]::before {
    content: "👤";
    background-color: #6b478d40;
}
.containerDefault_c69b6d a[data-list-item-id="channels___1126864502554624042"]::before {
    content: "📟";
    background-color: #00d26440;
}
.containerDefault_c69b6d a[data-list-item-id="channels___1190661950800142386"]::before {
    content: "💾";
    background-color: #5e5d9640;
}
.containerDefault_c69b6d a[data-list-item-id="channels___1104552173695680583"]::before {
    content: "🆘";
    background-color: #ff005e40;
}
.containerDefault_c69b6d a[data-list-item-id="channels___1104523836302573688"]::before {
    content: "📰";
    background-color: #f3eef840;
}
.containerDefault_c69b6d a[data-list-item-id="channels___1104523441157181511"]::before {
    content: "✨";
    background-color: #ffba2540;
}
.containerDefault_c69b6d a[data-list-item-id="channels___1104552018414161981"]::before {
    content: "🆘";
    background-color: #ff005e40;
}
.containerDefault_c69b6d a[data-list-item-id="channels___1203491488865198110"]::before {
    content: "🚀";
    background-color: #f92f6040;
}

.containerDefault_c69b6d a[data-list-item-id^="channels___"]::before {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    width: 26px;
    margin: auto 6px;
    padding: 3px;
    font-size: 16px;
    border-radius: var(--border-radius-large);
}

.containerDefault_c69b6d :is(a[data-list-item-id="channels___1104518841092034631"],
                             a[data-list-item-id="channels___1104875221472792668"],
                             a[data-list-item-id="channels___1261359628747280384"],
                             a[data-list-item-id="channels___1215613548827508776"],
                             a[data-list-item-id="channels___1104561510715494463"],
                             a[data-list-item-id="channels___1209815012403716166"],
                             a[data-list-item-id="channels___1209815101134082120"],
                             a[data-list-item-id="channels___1104524821909479484"],
                             a[data-list-item-id="channels___1104518841092034630"],
                             a[data-list-item-id="channels___1112389436815187979"],
                             a[data-list-item-id="channels___1224373306795364432"],
                             a[data-list-item-id="channels___1244349851492421692"],
                             a[data-list-item-id="channels___1261358630767427655"],
                             a[data-list-item-id="channels___1104516051733065901"],
                             a[data-list-item-id="channels___1238649517902139403"],
                             a[data-list-item-id="channels___1191846540218736650"],
                             a[data-list-item-id="channels___1192344004520595577"],
                             a[data-list-item-id="channels___1213565675327590470"],
                             a[data-list-item-id="channels___1213565711738470470"],
                             a[data-list-item-id="channels___1213565355897790464"],
                             a[data-list-item-id="channels___1213565514450870292"],
                             a[data-list-item-id="channels___1104523856846270546"],
                             a[data-list-item-id="channels___1104523460052520980"],
                             a[data-list-item-id="channels___1126864557596479559"],
                             a[data-list-item-id="channels___1126864502554624042"],
                             a[data-list-item-id="channels___1190661950800142386"],
                             a[data-list-item-id="channels___1104552173695680583"],
                             a[data-list-item-id="channels___1104523836302573688"],
                             a[data-list-item-id="channels___1104523441157181511"],
                             a[data-list-item-id="channels___1104552018414161981"],
                             a[data-list-item-id="channels___1203491488865198110"]) :is(.iconContainer__2ea32, .linkBottom__2ea32) {
    margin-left: 37px;
}






/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

?Left Sidebar

*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

/* Sidebar */
.sidebar__5e434>.scrollerBase_d125d2 {
    margin: 0 0 16px;
    border-radius: var(--border-radius-large);
    background-color: var(--color-2);
}

/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

?Main Base

*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

/*
=-=-=-=-=-=-=-=
?Base
=-=-=-=-=-=-=-=
*/

.pageWrapper_a3a4ce,
.pageWrapper_a3a4ce .scroller_a3a4ce,
.scroller_a39aa3:has(.guildListSection_c8c448) {
    border-radius: var(--border-radius-large);
    background-color: var(--color-1);
}

/*
=-=-=-=-=-=-=-=
?Banner
=-=-=-=-=-=-=-=
*/

/* Base */
.searchHeader_a3a4ce,
.headerContainer_a39aa3 {
    height: 200px;
    border-radius: var(--border-radius-large);
    background-color: var(--color-2);
}
.searchHeader_a3a4ce .headerImage_a3a4ce,
.headerContainer_a39aa3 .headerImage_a39aa3 {
    display: none;
}

/* Searchbar */
.search_f69601 .searchBox__56feb {
    border-radius: var(--border-radius-large);
    background-color: var(--color-3);
    box-shadow: none;
}
.search_f69601 .searchBox__56feb:is(:focus, :focus-within) {
    box-shadow: 0 0 0 3px var(--accent);
}
.search_f69601 .searchBox__56feb .searchBoxInput__56498 {
    color: #fff;
}

/*
=-=-=-=-=-=-=-=
?Cards
=-=-=-=-=-=-=-=
*/

/* Base */
.card_e90879,
.container_a76561 {
    height: 400px;
    background-color: var(--color-2) !important;
}

/* Banner */
img.splashImage_e90879.splashImageHeight_e90879 {
    border-radius: var(--border-radius-large);
}
.splash_e90879 {
    width: -webkit-fill-available;
    margin: 12px;
}

/* Icon */
.iconMask_e90879 {
    background-color: var(--color-2) !important;
}

/* Action Button */
.actionButtons_e90879 .wrapper_f7ecac {
    border-radius: var(--border-radius-large);
    background-color: #2b2b2b;
}

/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

?Left Sidebar

*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

/*
=-=-=-=-=-=-=-=
?Find or start a conversation Button
=-=-=-=-=-=-=-=
*/

.searchBar_e6b769 .searchBarComponent__35e86 {
    height: 100%;
    text-align: center;
    white-space: unset;
    background-color: var(--color-3);
}
.searchBar_e6b769 {
    height: 60px;
    padding: 6px;
    border-radius: var(--border-radius-large);
    background-color: var(--color-2);
    box-shadow: none;
    -webkit-box-shadow: none;
}

/*
=-=-=-=-=-=-=-=
?Friends
=-=-=-=-=-=-=-=
*/

.channel__972a0 {
    max-width: unset;
}

/*
=-=-=-=-=-=-=-=
?Module
=-=-=-=-=-=-=-=
*/

.privateChannels_e6b769 .scroller__99e7c {
    margin: 16px 0;
    border-radius: var(--border-radius-large);
}

/*
=-=-=-=-=-=-=-=
?Background
=-=-=-=-=-=-=-=
*/

.scroller__99e7c {
    background-color: var(--color-2) !important;
}
.privateChannels_e6b769 {
    background-color: var(--background);
}

/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Middel
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

/* Module */
.peopleColumn__133bf {
    margin: 0 16px 0 0;
    border-radius: var(--border-radius-large);
    background-color: var(--color-1);
}

/* Searchbar */
.peopleColumn__133bf
.searchBar__5ec2f {
    height: 40px;
    margin: 16px 16px 6px 16px;
    border-radius: var(--border-radius-large);
    background-color: var(--color-2);
}

/* Background */
.tabBody__133bf {
    background-color: var(--background);
}

/* Friends List Cards
.peopleList__5ec2f {
    margin: 16px;
    padding: 0;
}
.peopleList__5ec2f::-webkit-scrollbar {
    display: none;
}
.peopleList__5ec2f>div {
    display: flex;
    flex-wrap: wrap;
}
.peopleListItem_cc6179 {
    height: auto !important;
    width: 307px;
    margin: 6px !important;
    padding: 8px !important;
    cursor: default;
    border: none;
    border-radius: var(--border-radius-large);
    background-color: var(--color-2) !important;
}
.peopleListItem_cc6179 .listItemContents_fc004c,
.peopleListItem_cc6179 .listItemContents_e1ecd3,
.peopleListItem_cc6179 .listItemContents__61863 {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    max-width: 291px;
}

.peopleListItem_cc6179 .userInfo__0a06e {
    display: flex;
    flex: unset;
    align-items: center;
    width: 100%;
    height: 35px;
    padding: 8px;
    border-radius: var(--border-radius-large);
    background-color: var(--color-1);
}
.peopleListItem_cc6179 .userInfo__0a06e:hover {
    background-color: var(--color-3);
}
.peopleListItem_cc6179 .userInfo__0a06e .discriminator__0a06e {
    visibility: hidden !important;
}
.peopleListItem_cc6179 .userInfo__0a06e:hover .discriminator__0a06e {
    visibility: visible !important;
}

.peopleListItem_cc6179 .username__0a06e {
    overflow: unset;
}
.peopleListItem_cc6179 .userInfo__0a06e:hover .username__0a06e {
    overflow: hidden;
}

.peopleListItem_cc6179 .actions_fc004c,
.peopleListItem_cc6179 .actions_e1ecd3,
.peopleListItem_cc6179 .actionButton_f8fa06.actionDeny_f8fa06 {
    width: 100%;
    margin: 8px 0 0;
}
.peopleListItem_cc6179 .actions_e1ecd3 .actionButton_f8fa06 {
    margin: 0;
}
.peopleListItem_cc6179 .actions_e1ecd3 .actionButton_f8fa06:nth-of-type(2) {
    margin-left: 6px;
}
.peopleListItem_cc6179 .actionButton_f8fa06 {
    width: 100%;
    margin-left: 7px;
    border-radius: var(--border-radius-large);
    background-color: var(--color-3);
}
.peopleListItem_cc6179 .actionButton_f8fa06:hover {
    background-color: var(--color-1);
}
.actionButton_f8fa06:first-child {
    margin: 0;
} */

/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Active Now
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

/* Cards */
.itemCard__7e549 {
    border: none;
    background-color: var(--color-3);
}
.itemCard__7e549 .body__00943,
.itemCard__7e549 .section__00943 {
    border-radius: var(--border-radius-large);
    background-color: var(--color-4);
}
.emptyCard__7e549 {
    background-color: var(--color-3);
}

/* Module */
.nowPlayingColumn__133bf {
    min-width: 420px;
    background-color: var(--background);
}
.container__7d20c {
    border-radius: var(--border-radius-large);
}
.nowPlayingColumn__133bf
.scroller__7d20c {
    border: none;
}

/* Background */
.container__7d20c {
    background-color: var(--color-2);
}


/*
=-=-=-=-=-=-=-=
?Base
=-=-=-=-=-=-=-=
*/

.panels_a4d4d9 {
    display: flex;
    flex-direction: column;
    background-color: transparent !important;
}
.container_b2ca13 {
    display: grid;
    gap: 6px;
    height: unset;
    padding: 6px;
    margin: 0 !important;
    border-radius: var(--border-radius-large);
    background-color: var(--color-2) !important;
}


/*
=-=-=-=-=-=-=-=
?User
=-=-=-=-=-=-=-=
*/

.container_b2ca13:has(.avatarWrapper_b2ca13) {
    order: 4;
}

.container_b2ca13 .avatarWrapper_b2ca13 {
    margin: 0;
    padding: 6px;
    cursor: pointer;
    border-radius: var(--border-radius-large);
    transition: background-color 0.15s ease-in-out;
    background-color: var(--color-1);
}
.container_b2ca13 .avatarWrapper_b2ca13:hover {
    background-color: var(--color-3);
}
.hoverRoll_c0d6c6 {
    cursor: pointer;
}

.container_b2ca13 .avatarWrapper_b2ca13 .title_d1da5f {
    width: fit-content;
}


/*
=-=-=-=-=-=-=-=
?Buttons
=-=-=-=-=-=-=-=
*/

.container_b2ca13 .noWrap_ec1a20 {
    gap: 6px;
}

.container_b2ca13 .button_adca65 {
    width: -webkit-fill-available;
    transition: background-color 0.15s ease-in-out;
    background-color: var(--color-3);
}
.container_b2ca13 .button_adca65:hover {
    background-color: var(--color-1) !important;
}


/*
=-=-=-=-=-=-=-=
?Voice
=-=-=-=-=-=-=-=
*/

.wrapper_adcaac:has(.container_adcaac) {
    order: 3;
}

.container_adcaac {
    margin-bottom: 6px !important;
    border: none;
    border-radius: var(--border-radius-large);
    background-color: var(--color-2);
}

.container_adcaac .button_adcaac {
    background-color: var(--color-3);
    transition: background-color 0.15s ease-in-out;
}
.container_adcaac .button_adcaac:hover {
    background-color: var(--color-1);
}

.container_adcaac .buttonIcon_adcaac {
    width: 20px !important;
    height: 20px !important;
}


/*
=-=-=-=-=-=-=-=
?Stream/Games
=-=-=-=-=-=-=-=
*/

.panel_bf1a22 {
    order: 2;
    padding: 12px 6px 6px;
    margin-bottom: calc(6px - (6px * 2));
    border: none;
    border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
    background-color: var(--color-2) !important;
}