.container_cbd271,
.membersWrap_cbd271,
.members_cbd271 {
    width: 64px;
    min-width: 64px;
    transition: 0.7s;
}
.members_cbd271::-webkit-scrollbar {
    display: none;
}
.member_a31c43 {
    margin: 0 8px;
}

/* on hover */
.container_cbd271:hover,
.container_cbd271:hover .membersWrap_cbd271,
.container_cbd271:hover .members_cbd271 {
    width: 260px;
    min-width: 260px;
    transition: 0.7s;
}
.container_cbd271:hover .members_cbd271::-webkit-scrollbar {
    display: block;
}
.container_cbd271:hover .member_a31c43 {
    margin: 0 0 0 8px;
}